@page
@model EFReverse.Pages.OnlineProducts.IndexModel

@{
    ViewData["Title"] = "Online Products";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-outline-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblOnlineProduct[0].PosId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOnlineProduct[0].ProdId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOnlineProduct[0].Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOnlineProduct[0].FreshPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOnlineProduct[0].MealPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOnlineProduct[0].DDate)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.TblOnlineProduct[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOnlineProduct[0].Vissible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblOnlineProduct) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PosId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreshPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DDate)
            </td>
            <td>
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Photo)" style="width:100px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vissible)  
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
