@page
@model EFReverse.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProdNameAr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProdNameAr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProdNameEn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProdNameEn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CateId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.TypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.TypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Vissible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Vissible)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.ProdId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
