@page
@model EFReverse.Pages.ProductTypes.IndexModel

@{
    ViewData["Title"] = "Product Types";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductType[0].TypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TypeId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.TypeId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.TypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
